.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  background-color: grey;
}

.link {
  color: black;
  /*text-decoration: none;*/
}

.curLink {
  font-weight: bold;
}